body {
  background-color: #8a15d3; /* Transparent background */
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 100vh; /* Set body height to full viewport height */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 0px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h1 {
  color: #d31010; /* Text color */
  font-family: Arial, sans-serif; /* Font family */
  text-align: center; /* Center align heading */
  margin-top: 40px; /* Bottom margin */
}

.container p {
  color: #310707; /* Text color */
  padding: 20px; /* Padding */
  line-height: 1.6; /* Line height */
  position: fixed;
}

.menu-links {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 210px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
}

.menu-links > a {
  margin: 0 10px;
  color: #8a84bd;
  text-decoration: none;
}

.img-size {
  width: 50px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 2em;
  background-color: #142f8f; /* Transparent background */
  z-index: 999; /* Ensure the container stays on top */
  transition: background-color 0.9s ease; /* Smooth transition for opacity change */
}

.logo-size {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
}

.side-container {
  display: flex;
  justify-content: space-between; /* Ensure columns are evenly spaced */
  margin-top: 240px; /* Adjust margin as needed */
}

.ice-cream-column {
  flex: 1; /* Allow the columns to grow and fill available space */
  margin: 0 20px; /* Add margin to create space between columns */
}
